    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Sidebar Page
                    <small>Subheading</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#/">Home</a>
                    </li>
                    <li class="active">Sidebar Page</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->
        <div class="row">
            <!-- Sidebar Column -->
            <div class="col-md-3">
                <div class="list-group">
                    <a href="#/" class="list-group-item">Home</a>
                    <a href="#/about" class="list-group-item">About</a>
                    <a href="#/services" class="list-group-item">Services</a>
                    <a href="#/contact" class="list-group-item">Contact</a>
                    <a href="#/portfolio/portfolio-1-col" class="list-group-item">1 Column Portfolio</a>
                    <a href="#/portfolio/portfolio-2-col" class="list-group-item">2 Column Portfolio</a>
                    <a href="#/portfolio/portfolio-3-col" class="list-group-item">3 Column Portfolio</a>
                    <a href="#/portfolio/portfolio-4-col" class="list-group-item">4 Column Portfolio</a>
                    <a href="#/portfolio/portfolio-item" class="list-group-item">Single Portfolio Item</a>
                    <a href="#/blog/blog-home-1" class="list-group-item">Blog Home 1</a>
                    <a href="#/blog/blog-home-2" class="list-group-item">Blog Home 2</a>
                    <a href="#/blog/blog-post" class="list-group-item">Blog Post</a>
                    <a href="#/others/full-width" class="list-group-item">Full Width Page</a>
                    <a href="#/others/sidebar" class="list-group-item active">Sidebar Page</a>
                    <a href="#/others/faq" class="list-group-item">FAQ</a>
                    <a href="#/others/404" class="list-group-item">404</a>
                    <a href="#/others/pricing" class="list-group-item">Pricing Table</a>
                </div>
            </div>
            <!-- Content Column -->
            <div class="col-md-9">
                <h2>Section Heading</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p>
            </div>
        </div>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->